*{
color:blue;
font-style:italic;
font-family:"franklin gothic medium"
}
.main{
display:flex;
}
.left{
    width:30%;
    border:3px solid yellowgreen;
    box-shadow: 5px 5px 5px tomato;
    margin:3px;
}
img{
    width:95%;
}
.right{
    margin: 3px;
    width: 65%;
    border:2px  solid #ddd;
    box-shadow:3px 3px 3px #ddd;
    
}
.cr{
    color: hotpink;
}
table{
    border:  3px;
}
.skills{
    background-color: green;
    border: 2px solid pink;
    box-shadow:  3px 3px 3px indigo;
    padding:3px;
    border-radius: 3px;
}